@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
  height: 100%;
  font-family: 'Numans', sans-serif;
}

.subtitulos {
  color: yellow;
  width: 100%;
  padding: 5px;
}

.login-row {
  padding-top: 20px;
}

.login-label {
  color: white;
}

.login-btn {
  background-color: #003cff;
  width: 100%;
  cursor: pointer;
}

.login-btn:disabled {
  background-color: #003cff;
  opacity: 0.6;
}

.login-card {
  text-align: center;
}

.cadastro-label {
  color: white;
}

.cadastro-btn {
  margin-top: 40px;
  background-color: #209b07;
  width: 100%;
  cursor: pointer;
  border-color: #209b07;
}

.cadastro-btn:hover {
  margin-top: 40px;
  background-color: #4bad37;
  border-color: #4bad37;
  width: 100%;
  cursor: pointer;
}

.cadastro-btn:disabled {
  background-color: #209b07;
  border-color: #4bad37;
  opacity: 0.6;
}

.transicao-tabela {
  color: white;
}

.transicao-container {
  padding-top: 20px;
}

.transicao-body {
  padding-top: 20px;
}

.usuario {
  text-align: center;
  color: antiquewhite;
}